<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}"> <!-- staticファイルからcss/index.cssを読み込む --
    <title>Document</title>
</head>
<body>
    <div class="neumorphism"> <!-- neumophismをcssのクラスから呼び出している -->
    <h1>main page</h1>
    </div>
    <h2>main page</h2>
    <h3>main page</h3>
    <h4>main page</h4>
    <h5>main page</h5>
    <p>書き換えした</p>
    <div>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaqqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqwqw</div>
    <div><p>iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p></div>
    {% block body %} <!-- ここに書いておくことで他のファイルで初期のhtmlテンプレを省略できる -->
    {% endblock %}
    
</body>
</html>


